.fbtn {
  cursor: pointer;
  border-radius: 3px;
  padding: 0 15px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.15s, color 0.15s ease-in-out;
  transition: background-color 0.15s, color 0.15s ease-in-out;
  white-space: nowrap; }
  .fbtn-info {
    color: #00B5B5;
    border: 2px solid #00B5B5; }
    .fbtn-info:hover {
      color: white;
      background-color: #00B5B5; }
  .fbtn-primary {
    color: #4183D7;
    border: 2px solid #4183D7; }
    .fbtn-primary:hover {
      color: white;
      background-color: #4183D7; }
  .fbtn-success {
    color: #2ECC71;
    border: 2px solid #2ECC71; }
    .fbtn-success:hover {
      color: white;
      background-color: #2ECC71; }
