$info-color: #00B5B5;
$primary-color: #4183D7;
$success-color: #2ECC71;
$warning-color: #F9BF3B;
$danger-color: #F62459;

@mixin fbtn-base($color) {
    color: $color;
    border: 2px solid $color;
    
    &:hover {
        color: white;
        background-color: $color;
    }
}

.fbtn {
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0 15px;
    background-color: transparent;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.15s, color 0.15s ease-in-out;
    white-space: nowrap;

    &-info {
        @include fbtn-base($info-color);
    }
    
    &-primary {
        @include fbtn-base($primary-color);
    }

    &-success {
        @include fbtn-base($success-color);
    }

    &-warning {
        @include fbtn-base($warning-color);
    }

    &-danger {
        @include fbtn-base($danger-color);
    }
}